// Override default variables before the import

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: 0 0 auto;
}

.container {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

$body-bg: rgb(221, 221, 221);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
