// Override default variables before the import
.container {
  min-height: calc(100vh - 104px);
  padding: 15px 0;
}

.navbar {
  height: 52px;
}

$body-bg: rgb(221, 221, 221);

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
